.about {
}
.about__wrapper {
  width: 320px;
  .margins;
}
.about__title {
  .zero;
  margin-left: 30px;
  font-weight: 700;
  font-size: 25px;
}
.about__advantages {
  .zero;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  list-style: none;
  font-size: 17px;
}
.about__advantage {
  padding-top: 58px;
  padding-bottom: 30px;
  font-weight: 700;
}
.about__advantage--flower::before {
  content: " ";
  position: absolute;
  width: 35px;
  height: 38px;
  margin-top: -45px;
  margin-left: 5px;
  background-image: url(../img/icon-feature-1.svg);
  background-repeat: no-repeat;
}
.about__advantage--money::before {
  content: " ";
  position: absolute;
  width: 50px;
  height: 38px;
  margin-top: -45px;
  margin-left: 0;
  background-image: url(../img/icon-feature-3.svg);
  background-repeat: no-repeat;
}
.about__advantage--heart::before {
  content: " ";
  position: absolute;
  width: 35px;
  height: 38px;
  margin-top: -45px;
  margin-left: 5px;
  background-image: url(../img/icon-feature-5.svg);
  background-repeat: no-repeat;
}
.about__advantage--circle::before {
  content: " ";
  position: absolute;
  width: 35px;
  height: 38px;
  margin-top: -45px;
  margin-left: 2px;
  background-image: url(../img/icon-feature-2.svg);
  background-repeat: no-repeat;
}
.about__advantage--rocket::before {
  content: " ";
  position: absolute;
  width: 55px;
  height: 38px;
  margin-top: -45px;
  margin-left: -5px;
  background-image: url(../img/icon-feature-4.svg);
  background-repeat: no-repeat;
}
.about__advantage--present::before {
  content: " ";
  position: absolute;
  width: 55px;
  height: 38px;
  margin-top: -45px;
  margin-left: 2px;
  background-image: url(../img/icon-feature-6.svg);
  background-repeat: no-repeat;
}
@media @tablet-widths {
  .about__wrapper {
    display: flex;
    flex-direction: column;
    width: 768px;
  }
  .about__title {
    flex-basis: 100px;
    padding-top: 50px;
    padding-left: 15px;
    font-size: 43px;
  }
  .about__advantages {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    .zero;
  }
  .about__advantage {
    flex-basis: 55px;
    padding-top: 50px;
    padding-left: 50px;
  }
}
@media @desktop-widths {
  .about__wrapper {
    width: 1200px;
    align-items:stretch;
  }
  .about__title {
    padding-top: 120px;
    padding-left: 180px;
    font-size: 58px;
  }
  .about__advantages {
    display: flex;
    flex-basis: 520px;
    align-items: stretch;
    margin-left: 180px;
    margin-right: 180px;
  }
  .about__advantage {
    flex-basis: 80px;
    padding-top: 70px;
    padding-bottom: 0;
    padding-left: 30px;
    font-size: 23px;
  }
}
