.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: @bfont;
  text-transform: uppercase;
  .type-link;
  color: #444444;
  font-size: 17px;
  text-align: center;
  border: 2px solid #444444;
}
