.catalog-page {
}
.catalog-page__header {
  height: 180px;
  background-color: #f1f1f1;
  border-top: 1px solid @border-color;
}
.catalog-page__title {
  .zero;
  padding-top: 75px;
  font-weight: 700;
  font-size: 27px;
  .align;
}
.catalog-page__wrapper {
  width: 320px;
  .margins;
  padding-bottom: 70px; /* временная высота */
}
@media @tablet-widths {
  .catalog-page__wrapper {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    width: 768px;
  }
}
@media @desktop-widths {
  .catalog-page__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    width: 1200px;
  }
}
