.catlog-item {
  width: 260px;
  min-height: 375px;
  margin-top: 30px;
  .margins;
  border: 1px solid @border-color;
}
.catlog-item__img {

}
.catlog-item__descr-block {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.catlog-item__title {
  .zero;
  font-weight: 700;
  font-size: 17px;
}
.catlog-item__link {
  .type-link;
}
.catlog-item__descr {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 13px;
  color: @text-color;
}
.catlog-item__price {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  border-top: 1px solid @border-color;
}
.catlog-item__cart-pic {
  display: block;
  margin-left: 65px;
  font-size: 0;
  cursor: pointer;
}
.catlog-item__cart-pic::after {
  content: " ";
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: -17px;
  margin-left: 115px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
}
