.copyrights {
  height: 80px;
  background-color: transparent;
}
.copyright-link {
  display: block;
  width: 270px;
  .margins;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 700;
  .type-link;
  font-size: 19px;
  text-align: center;
  border-top: 1px solid @border-color;
}
.copyright-logo {
  margin-left: 20px;
  vertical-align: middle;
}
@media @tablet-widths {
  .copyright-link {
    border-top: none;
  }
}
