.form-type {
  .zero;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid @primary-color;
}
.form-type__title {
  .zero;
  padding-right: 25px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: @primary-color;
}
.form-type__feature {
  display: block;
  margin-top: 27px;
  margin-left: 60px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.form-type__feature-value {
  display: none;
}
.form-type__feature {
  &:before {
    content: " ";
    position: absolute;
    width: 33px;
    height: 33px;
    margin-left: -58px;
    border: 2px solid #444444;
    border-radius: 50px;
    cursor: pointer;
  }
}
@media @tablet-widths {
  .form-type {
    margin-top: 72px;
    padding-left: 180px;
    border: none;
  }
  .form-type__title {
    margin-left: -160px;
  }
  .form-type__feature {
    margin-top: -19px;
    padding-left: 30px;
    padding-bottom: 70px;
    font-size: 19px;
  }
  .form-type__feature {
    &:before {
      width: 46px;
      height: 46px;
      margin-top: -13px;
      margin-left: -82px;
    }
  }
}
@media @desktop-widths {
  .form-type {
    margin-top: 60px;
    padding-left: 210px;
  }
  .form-type__title {
    margin-left: -90px;
  }
  .form-type__feature {
    padding-top: 5px;
    padding-bottom: 60px;
    font-size: 17px;
  }
}
