.main-nav {
}
.main-nav__wrapper {
  width: 320px;
  .margins;
}
.main-nav__list {
  display: none;
  .zero;
  list-style: none;
}
.main-nav__list--open {
}
.main-nav__toggler {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -45px;
  margin-left: 265px;
  background: url(../img/icon-menu-open.svg) no-repeat;
  cursor: pointer;
}
.main-nav__toggler--close {
}
.main-nav__item {
  font-weight: 700;
  border-top: 1px solid @border-color;
}
.main-nav__item:nth-child(5) {
  display: none;
}
.main-nav__item:nth-child(6) {
  display: none;
}
.main-nav__item:nth-child(7) {
  display: none;
}
.main-nav__link {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 80px;
  .type-link;
}
.main__link--lens-icon::before {
  content: " ";
  position: absolute;
  margin-top: 0;
  margin-left: -50px;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}
.main-nav__link--cart-icon::before {
  content: " ";
  position: absolute;
  margin-top: 0;
  margin-left: -50px;
  width: 20px;
  height: 22px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}
@media @tablet-widths {
  .main-nav__wrapper {
    width: 768px;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
  .main-nav__item  {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: none;
  }
  .main-nav__item a  {
    .zero;
    border: none;
  }
  .main-nav__item:nth-child(1) {
    flex-basis: 200px;
    order: 2;
    height: 60px;
  }
  .main-nav__item:nth-child(2) {
    flex-basis: 170px;
    order: 3;
    height: 60px;
  }
  .main-nav__item:nth-child(3) {
    order: 1;
    width: 85px;
    height: 85px;
    margin-left: auto;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;

  }
  .main-nav__item:nth-child(3) a {
    font-size: 0;
  }
  .main__link--lens-icon::before {
    margin-top: -7px;
    margin-left: -7px;
}
  .main-nav__item:nth-child(4) {
    flex-basis: 313px;
    order: 1;
    height: 85px;
    border-bottom: 1px solid @border-color;
  }
  .main-nav__item:nth-child(5) {
    display: flex;
    flex-basis: 370px;
  }
  .main-nav__item:nth-child(5) {
    font-size: 0;
    border-bottom: 1px solid @border-color;
  }
  .main-nav__item:nth-child(7) {
    display: flex;
    flex-basis: 398px;
    order: 4;
    height: 60px;
    padding-left: 50px;
    font-weight: normal;
  }
}
@media @desktop-widths {
  .main-nav {
  }
  .main-nav__wrapper {
    width: 1200px;
  }
  .main-nav__item {
  }
  .main-nav__item:nth-child(1) {
    order: -1;
    height: 85px;
    font-size: 19px;
    border-bottom: 1px solid @border-color;
  }
  .main-nav__item:nth-child(2) {
    flex-basis: 595px;
    order: -1;
    justify-content: flex-start;
    height: 85px;
    padding-left: 60px;
    font-size: 19px;
    border-bottom: 1px solid @border-color;
  }
  .main-nav__item:nth-child(3) {
    order: -1;
    height: 85px;
  }
  .main-nav__item:nth-child(4) {
    order: -1;
    flex-basis: 320px;
    padding-left:70px;
    font-size: 19px;
  }
  .main-nav__item:nth-child(5) {
    display: flex;
    flex-basis: 210px;
    font-size: 17px;
    border: none;
  }
  .main-nav__item:nth-child(6) {
    display: flex;
    flex-basis: 200px;
    font-size: 17px;
  }
  .main-nav__item:nth-child(7) {
    flex-basis: 318px;
    display: flex;
    margin-left: auto;
    font-size: 17px;
  }
}
