.main-content {

}
.main-content__header {
  height: 373px;
  .margins;
  background-color: #fafafa;
}
.main-content__img-wrap {
  text-align: center;
}
.main-content__title {
  .zero;
  margin-top: -270px;
  .align;
  font-family: @bfont;
  font-size:  27px;
}
.main-content__list {
  .zero;
  list-style: none;
}
.main-content__list-item {

}
.main-content__list-link {
  display: block;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  .type-link;
  font-family: @bfont;
  font-size: 17px;
  color: #ffffff;
}
.main-content__list-item--light {
  background-color: @primary-color;
}
.main-content__list-item--light::before {
  content: " ";
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: -10px;
  margin-left: 220px;
  background-image: url(../img/icon-interior.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}
.main-content__list-item--dark {
  background-color: @secondary-color;
}
.main-content__list-item--dark::before {
  content: " ";
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 240px;
  background-image: url(../img/icon-toy.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
}
