.btext() {
  font-family: @bfont;
  font-size: 17px;
}
.align() {
  text-align: center;
}
.main-nav {
  .width;
}
.main-nav__list {
  display: none;
  width: 320px;
  .margins;
  list-style: none;
}
.main-nav__list--open {
}
.main-nav__toggler {
  display: block;
  width: 20px;
  height: 15px;
  background: url(../img/icon-menu-open.svg) no-repeat;
}
.main-nav__toggler--close {
}
.main-nav__item {
  .btext;
  border-top: 1px solid @border-color;
}
.main-nav__link {
  display: block;
  .paddings-height;
  padding-left: 70px;
  padding-right: 70px;
  .type-link;
}
.main__item--lens-icon::before {
  content: " ";
  position: absolute;
  margin-top: 33px;
  margin-left: 30px;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}
.main-nav__item--cart-icon::before {
  content: " ";
  position: absolute;
  margin-top: 33px;
  margin-left: 30px;
  width: 20px;
  height: 22px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}
