.main-nav {
}
.main-nav__wrapper {
  width: 320px;
  .margins;
}
.main-nav__list {
  display: none;
  .zero;
  list-style: none;
}
.main-nav__list--open {
}
.main-nav__toggler {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: -45px;
  margin-left: 265px;
  background: url(../img/icon-menu-open.svg) no-repeat;
  cursor: pointer;
}
.main-nav__toggler--close {
}
.main-nav__item {
  font-weight: 700;
  border-top: 1px solid @border-color;
}
.main-nav__item:nth-child(5) {
  display: none;
}
.main-nav__item:nth-child(6) {
  display: none;
}
.main-nav__item:nth-child(7) {
  display: none;
}
.main-nav__link {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 80px;
  .type-link;
}
.main__link--lens-icon::before {
  content: " ";
  position: absolute;
  margin-top: 0;
  margin-left: -50px;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}
.main-nav__link--cart-icon::before {
  content: " ";
  position: absolute;
  margin-top: 0;
  margin-left: -50px;
  width: 20px;
  height: 22px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}
@media @tablet-widths {
  .main-nav__wrapper {
    width: 768px;
    .margins;
  }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
  .main-nav__item  {
    align-self: flex-start;
  }
  .main-nav__item a  {
    .zero;
    border: none;
  }
  .main-nav__item:nth-child(1) {
    order: 2;
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 50px;
  }
  .main-nav__item:nth-child(2) {
    order: 3;
    flex-grow: 4;
    padding-top: 20px;
  }
  .main-nav__item:nth-child(3) {
    order: 1;
    width: 85px;
    height: 85px;
    margin-left: 370px;
    border-left: 1px solid @border-color;
  }
  .main-nav__item:nth-child(3) a {
    font-size: 0;
  }
  .main__link--lens-icon::before {
    margin-top: 35px;
    margin-left: 35px;
}

  .main-nav__item:nth-child(4) {
    order: 1;
    height: 85px;
    flex-grow: 1;
    border-left: 1px solid @border-color;
  }
  .main-nav__item:nth-child(4) a {
    padding-top: 35px;
    padding-left: 80px;
  }
  .main-nav__item:nth-child(7) {
    display: block;
    flex-grow: 1;
    order: 4;
    padding-top: 20px;
  }
}
@media @desktop-widths {
  .main-nav {
  }
  .main-nav__wrapper {
    width: 1200px;
    .margins;
  }
  .main-nav__item {
    align-self: flex-start;
  }

  .main-nav__item:nth-child(1) {
    order: -1;
    height: 60px;
    padding-top: 35px;
    padding-left: 20px;
    font-size: 19px;
  }
  .main-nav__item:nth-child(2) {
    order: -1;
    height: 60px;
    padding-top: 35px;
    padding-left: 50px;
    font-size: 19px;
  }
  .main-nav__item:nth-child(3) {
    order: -1;
    height: 95px;
    margin: 0;
    margin-left: 270px;
  }

  .main-nav__item:nth-child(4) {
    order: -1;
    width: 275px;
    height: 95px;
    font-size: 19px;
    padding-left: 15px;
  }
  .main-nav__item:nth-child(5) {
    display: block;
    flex-grow: 1;
    padding-top: 25px;
    padding-left: 20px;
  }
  .main-nav__item:nth-child(6) {
    display: block;
    flex-grow: 15;
    padding-top: 25px;
    padding-left: 50px;
  }
  .main-nav__item:nth-child(7) {
    display: block;
    flex-grow: 1;
    padding-top: 25px;
    padding-left: 50px;
  }
}
