.page-form__header {
  height: 180px;
  background-color: #f1f1f1;
  border-top: 1px solid @border-color;
}
.page-form__title {
  .zero;
  padding-top: 70px;
  font-weight: 700;
  font-size: 27px;
  .align;
}
@media @tablet-widths {
  .page-form__header {
    height: 225px;
    margin-top: -60px;
    z-index: -1;
  }
  .page-form__title {
    padding-top: 95px;
    font-size: 43px;
  }
}
@media @desktop-widths {
  .page-form__header {
    height: 225px;
    margin-top: -55px;
  }
  .page-form__title {
    padding-top: 85px;
    font-size: 48px;
  }
}
