@font: 'Open Sans';
@bfont: 'Open Sans Bold';
@primary-color: #63d1bb;
@secondary-color: #56c3b2;
@text-color: #767676;
@border-color: #ececec;

.text() {
  font-family: @font;
  font-size: 15px;
}
.width() {
  width: 100%;
}
.margins() {
  margin-left: auto;
  margin-right: auto;
}
.paddings-height() {
  padding-top: 30px;
  padding-bottom: 30px;
}
.margins-30() {
  margin-top: 30px;
  margin-left: 30px;
}
.zero() {
  padding: 0;
  margin: 0;
}
.type-link() {
  text-decoration: none;
  color: black;
}
body {
  .text();
}
.page-header {
  .width();
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}
.page-header__title {
  font-size: 0;
}
