.page-form {
  
}
.page-form__header {
  height: 180px;
  background-color: #f1f1f1;
  border-top: 1px solid @border-color;
}
.page-form__title {
  .zero;
  padding-top: 75px;
  font-family: @bfont;
  font-size: 27px;
  .align;
}
.page-form__wrapper {
  width: 320px;
  .margins;
}