.page-footer {

}
.page-footer__wrapper {
  width: 320px;
  .margins;
  margin-top: 60px;
}
.page-footer__title {
  .zero;
  margin-left: 30px;
  font-family: @bfont;
  font-size: 18px;
}
.page-footer__mail {
  .zero;
  margin-top: 40px;
  margin-left: 30px;
  color: @text-color;
}
.page-footer__mail-value {
  margin-left: 30px;
  .type-link;
  border-bottom: 1px solid @primary-color;
}
.page-footer__adress {
  .zero;
  margin-top: 40px;
  margin-left: 30px;
  color: @text-color;
}
.page-footer__adress-value {
  margin-left: 30px;
}
.page-footer__map-block {
  margin-top: 40px;
}
.page-footer__btn {
  margin: 30px;
}
