.production-descr {

}
.production-descr__header {
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.production-descr__title {
  .zero;
  padding-left: 60px;
  font-size: 17px;
}
.production-descr__title--pic::before {
  content: " ";
  position: absolute;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-left: -60px;
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
}
.production-descr__video {
  margin-top: 30px;
}
.production-descr__video--icon::before {
  content: " ";
  position: absolute;
  width: 105px;
  height: 80px;
  margin-top: 65px;
  margin-left: -182px;
  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
}
.production-descr__inner {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.production-descr__text {
  .zero;
  font-size: 13px;
  color: @text-color;
}
.production-descr__btn {
  margin-top: 30px;
  cursor: pointer;
}
