.reviews {
}
.reviews__wrapper {
  width: 320px;
  .margins;
}
.reviews__title {
  .zero;
  margin-top: 40px;
  margin-left: 30px;
  font-family: @bfont;
  font-size: 25px;
}
.reviews__slider {
}
.reviews__inner {
}
.reviews__item {
  .zero;
}
.reviews__item-text {
  .zero;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  color: @text-color;
}
.reviews__author-name {
  display: block;
  margin-top: 35px;
  margin-left: 30px;
  font-family: @bfont;
  font-size: 17px;
}
.reviews__author-inst {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 17px;
  color: @text-color;
}
.reviews__link {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}
