.socials-link {
  display: inline-block;
  width: 22px;
  height: 30px;
  margin-top: 25px;
&--inst {
  margin-left: 86px;
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
  }
&--fb {
  width: 20px;
  margin-left: 42px;
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  }
&--twet {
  margin-left: 35px;
  background-image: url(../img/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  }
}
@media @tablet-widths {
  .socials-link--inst {
    margin-left: 85px;
  }
}

